.logo_div1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.div_100_search1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.div_60_search1 {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.search_input1 {
    width: 35%;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    border: 1.3px solid gray;
}
.search_input12 {
    width: 55%;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    border: 1.3px solid gray;
}
.search_option1 {
    width: 25%;
    background-color: #fff;
    border: 1.3px solid gray;
    border-radius: 8px;
    padding: 10px;
}


.box_div_100 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.box_div_center {
    display: flex;
    width: 80%;
    flex-direction: column;
}
.box_div_column {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.loading_div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}